* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../portfolio/portfolio.jpeg);
    background-size: cover;
    background-position: center;
}

background-image:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .194s;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    scale: (1.2);
}

.content {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newsletter form input:first-child {
    display: inline-block;
    width: 62%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
    background-color: #f9004d;
}

.newsletter form input:first-child::placeholder {
    color: white;
}

.newsletter form input:last-child {
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        background-color: white;
        color: #f9004d;
        box-shadow: 0px 0px 5px #000, 0px 0px 15p #858585;
        top: 6px;
        right: 1px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #DCDCDC;
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: rgb(94, 88, 88);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h2:hover {
    color: rgb(57, 53, 53);
}

.about-text h4 {
    color: rgb(57, 53, 53);
    letter-spacing: 1.5px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize  ;
}

.about-text h4:hover {
    color: rgb(94, 88, 88);
}

.about-text p {
    color: rgb(57, 53, 53);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;    
    transition: .4s;
    text-transform: lowercase;
}

button:hover {
    background-color: transparent;
    transition: .100s;
    border: 2px solid #f9004d;
    color: #858585;
    cursor: wait;
}

.service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #aca8a8;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 20px 0px;
    color: #f9004d;
}

h5 {
    color: #101010;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #101010;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    color: #101010;
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contact-me {
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
}

footer {
    position: relative;
    width: 100%;
    height: 350px;
    background: #aca8a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: #191919;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: #191919;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px;
}

.social a {
    width: 45px;
    height: 45px;
    display: inline;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 220px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #191919;
}


.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    margin-top: 20px;
    position: absolute;
    bottom: 35px;
    font-size: 14px;
}


